@charset "uft-8";

@use "vars" as v;

body {
	@media (max-width: v.$brpointTablet2) {
		background-color: #d9d7e0;
	}
}

.container {
	position: relative;
	width: 1280px;
	margin: 0 auto;
	background: rgba(0, 0, 0, 0);

	@media (max-width: v.$brpointWeb1) {
		width: 100%;
	}
}

.row {
	padding: 0 28px;

	@media (max-width: v.$brpointWeb2) {
		padding: 0 24px;
	}
	@media (max-width: v.$brpointTablet2) {
		padding: 0 16px;
	}
}
// 모바일 메뉴
#mNav {
	position: absolute;
	top: 10px;
	right: 14px;
	display: none;
	@media (max-width: v.$brpointWeb2) {
		display: block;
	}
	@media (max-width: v.$brpointTablet2) {
		right: 6px;
	}

	.ham {
		display: block;
		width: 25px;
		height: 17px;
		padding: 15px 10px 10px 10px;

		span {
			display: block;
			width: 25px;
			height: 4px;
			background: #39106a;
			position: relative;

			&:before {
				content: "";
				width: 25px;
				height: 4px;
				background: #39106a;
				position: absolute;
				left: 0;
				bottom: -7px;
			}
			&:after {
				content: "";
				width: 25px;
				height: 4px;
				background: #39106a;
				position: absolute;
				left: 0;
				top: -7px;
			}
		}
	}
}

// 헤더영역
#header {
	width: 100%;
	border-bottom: 1px solid #c6c6c6;
	background: #fff;

	.header {
		h1 {
			float: left;
			@media (max-width: v.$brpointWeb2) {
				float: none;
				text-align: center;
			}
			@media (max-width: v.$brpointTablet2) {
				text-align: left;
			}

			em {
				padding: 15px 8px 3px 0;
				display: inline-block;
				img {
					width: 155px;
				}
				@media (max-width: v.$brpointWeb1) {
					padding: 11px 8px 5px 0;
				}
			}
			strong {
				display: block;
				position: absolute;
				left: 194px;
				top: 22px;

				img {
					width: 127px;
				}
				@media (max-width: v.$brpointWeb1) {
					top: 19px;
				}
				@media (max-width: v.$brpointWeb2) {
					left: 24px;
				}
				@media (max-width: v.$brpointTablet2) {
					display: none;
				}
			}
		}
		.nav {
			float: right;

			ul {
				border-left: 1px solid #c6c6c6;
				li {
					float: left;
					width: 103px;
					text-align: center;
					border-right: 1px solid #c6c6c6;

					a {
						padding: 19px 10px;
						font-size: 17px;
						font-weight: 700;
						display: block;
						color: #444;
					}
					@media (max-width: v.$brpointWeb1) {
						width: 93px;

						a {
							font-size: 15px;
							padding: 17px 10px;
						}
					}
				}
			}
			@media (max-width: v.$brpointWeb2) {
				display: none;
			}
		}
	}
}

// 베너영역
#banner {
	position: relative;

	.banner_menu {
		position: absolute;
		left: 0;
		top: 20px;
		width: 100%;
		height: 100px;
		overflow: hidden;
		z-index: 10;

		@media (max-width: v.$brpointMobile1) {
			top: 16px;
		}

		li {
			position: relative;
			&.line {
				&.line::after {
					content: "";
					display: block;
					width: 1px;
					height: 14px;
					background: #fff;
					position: absolute;
					right: -18px;
					top: 2px;
				}
			}
		}
		.bm_left {
			float: left;

			ul {
				padding-top: 7px;

				@media (max-width: v.$brpointWeb2) {
					display: none;
				}
				li {
					display: inline;
					margin-right: 30px;

					&.total {
						margin-right: 20px;
						a {
							font-size: 14px;
							padding: 3px 10px;
							display: inline-block;
							border: 1px solid #fff;
							transition: all 0.3s;

							&:hover {
								background: #fff;
								border-color: #000;
								color: #000;
							}
						}
					}
				}
			}
		}
		.bm_right {
			float: right;
			overflow: hidden;

			ul {
				float: left;

				&:first-child {
					padding-top: 7px;
					@media (max-width: v.$brpointWeb2) {
						display: none;
					}
				}
				li {
					display: inline;
					text-align: center;
					margin-right: 20px;

					&.line {
						margin-right: 30px;
					}

					&.white {
						margin-right: 10px;
						a {
							width: 80px;
							background-color: #fff;
							color: #38116a;
							padding: 7px 30px 9px 30px;
							border: 1px solid #fff;
							display: inline-block;
							@media (max-width: v.$brpointMobile1) {
								font-size: 14px;
								padding: 3px 5px 5px 5px;
								color: #fff;
								background: rgba(0, 0, 0, 0.6);
								border: 1px solid #fff;
							}
						}
					}
					&.purple {
						margin-right: 0;
						a {
							width: 80px;
							background-color: #38116a;
							color: #fff;
							padding: 7px 30px 9px 30px;
							border: 1px solid #6f2bc7;
							display: inline-block;
							@media (max-width: v.$brpointMobile1) {
								font-size: 14px;
								padding: 3px 5px 5px 5px;
								color: #fff;
								background: rgba(0, 0, 0, 0.6);
								border: 1px solid #fff;
							}
						}
					}
				}
			}
		}
		a {
			color: #fff;
			font-size: 16px;
			transition: color 0.3s;
			&:hover {
				color: #c1c1c1;
			}
		}
	}
}

// 슬라이드
.slider {
	width: 100%;
	height: 600px;
	.ss1 {
		background: url(../img/swiper1.jpg) no-repeat center center;
		background-size: cover;
	}
	.ss2 {
		background: url(../img/swiper01.jpg) no-repeat center center;
		background-size: cover;
	}
	.ss3 {
		background: url(../img/swiper01.jpg) no-repeat center center;
		background-size: cover;
	}
	.swiper-slide {
		h2 {
			font-size: 62px;
			color: #fff;
			margin-top: 200px;
			line-height: 70px;
			display: inline-block;
			position: relative;

			em {
				display: block;

				font-size: 59px;
				font-weight: 100;
			}
			&:after {
				content: "";
				width: 100%;
				height: 1px;
				background: rgba(255, 255, 255, 0.3);
				position: absolute;
				bottom: -40px;
				left: 0;
			}
			@media (max-width: v.$brpointTablet1) {
				margin-top: 170px;
				font-size: 37px;
				line-height: 45px;

				&:after {
					bottom: -15px;
				}

				em {
					font-size: 34px;
				}
			}
			@media (max-width: v.$brpointMobile1) {
				margin-top: 140px;
				font-size: 24px;
				line-height: 30px;

				&:after {
					bottom: -5px;
				}

				em {
					font-size: 20px;
				}
			}
		}
		p {
			font-size: 27px;
			color: #fff;
			padding-top: 55px;

			@media (max-width: v.$brpointTablet1) {
				font-size: 16px;
				padding-top: 35px;
			}
			@media (max-width: v.$brpointMobile1) {
				font-size: 14px;
				padding-top: 25px;
			}
		}
	}
	@media (max-width: v.$brpointWeb1) {
		.swiper-button-prev,
		.swiper-button-next {
			display: none;
		}
	}
	@media (max-width: v.$brpointTablet1) {
		height: 500px;
	}
	@media (max-width: v.$brpointMobile1) {
		height: 400px;
		.swiper-pagination {
			.swiper-pagination-bullet {
				width: 13px;
				height: 13px;
			}
		}
	}
}

// 영화콘텐츠
#movie {
	background: #f8f8f8;
	@media (max-width: v.$brpointTablet2) {
		background: none;
	}
	.container {
		@media (max-width: v.$brpointMobile1) {
			position: relative;
			&::after {
				content: "";
				position: absolute;
				z-index: 20;
				right: 0;
				bottom: 0;
				width: 8px;
				height: 100%;
				background: #d9d7e0;
			}
		}
	}
	.row {
		@media (max-width: v.$brpointTablet2) {
			background: #fff;
			margin: 24px 24px 0 24px;
			padding: 24px;
		}
		@media (max-width: v.$brpointMobile1) {
			margin: 8px;
			padding: 15px;
			margin-right: 0;
			padding-right: 0;
			position: relative;

			&::after {
				content: "";
				position: absolute;
				z-index: 10;
				top: 0;
				right: 0;
				width: 24px;
				height: 100%;
				background: #fff;
			}
		}
	}

	.ir_so {
		@media (max-width: v.$brpointTablet2) {
			position: static;
			width: auto;
			height: auto;
			line-height: normal;
			text-indent: 0;
			font-size: 24px;
			font-weight: bold;
			padding-bottom: 20px;
		}
		@media (max-width: v.$brpointMobile1) {
			font-size: 18px;
			padding-bottom: 10px;
		}
	}
}
.movie {
	padding: 100px 0;

	@media (max-width: v.$brpointTablet2) {
		padding-top: 0;
	}
	.movie_title {
		margin-bottom: 60px;
		@media (max-width: v.$brpointTablet2) {
			margin-bottom: 20px;
		}

		ul {
			overflow: hidden;
			width: 848px;
			margin: 0 auto;

			@media (max-width: v.$brpointTablet1) {
				width: auto;
			}
			@media (max-width: v.$brpointTablet2) {
				position: relative;
				padding-bottom: 10px;

				&::before {
					content: "";
					position: absolute;
					z-index: 1;
					left: 0;
					bottom: 0;
					width: 100%;
					height: 2px;
					background: #e1e1e1e1;
				}
			}
			@media (max-width: v.$brpointMobile1) {
				padding-bottom: 8px;
				white-space: nowrap;
				overflow-x: auto;
			}
			li {
				float: left;
				width: 210px;
				text-align: center;
				border: 1px solid #c4c4c4;
				margin-right: -1px;

				@media (max-width: v.$brpointTablet1) {
					width: 25%;
					box-sizing: border-box;
				}
				@media (max-width: v.$brpointTablet2) {
					width: auto;
					border: 0;
					margin-right: 0;
				}

				&.active {
					a {
						background: #666;
						color: #fff;

						@media (max-width: v.$brpointTablet2) {
							background: transparent;
							color: #666;
							position: relative;

							&::before {
								content: "";
								position: absolute;
								z-index: 2;
								left: 0;
								bottom: -10px;
								width: 100%;
								height: 2px;
								background: #666;

								@media (max-width: v.$brpointMobile1) {
									bottom: -8px;
								}
							}
						}
					}
				}

				a {
					display: block;
					padding: 15px 0;
					font-size: 18px;
					color: #666;
					font-weight: 700;

					@media (max-width: v.$brpointTablet2) {
						font-weight: 400;
						padding: 0;
						margin-right: 30px;
					}
					@media (max-width: v.$brpointMobile1) {
						font-size: 14px;
						margin-right: 15px;
					}
					@media (max-width: v.$brpointMobile3) {
						margin-right: 9px;
					}
				}
			}
		}
	}
	.movie_chart {
		overflow: hidden;
		@media (max-width: v.$brpointMobile1) {
			position: relative;
			z-index: 30;
		}
		.swiper-container2 {
			> div {
				> div {
					float: left;
					width: 292px;
					margin-right: 18px;
					&:last-child {
						margin-right: 0;
					}
					.poster {
						position: relative;
						img {
							display: block;
						}
						.rank {
							position: absolute;
							top: 17px;
							left: 0;
							width: 50px;
							height: 50px;
							line-height: 50px;
							background-color: #38116a;
							text-align: center;
							font-size: 22px;
							box-shadow: 3px 3px 8px rgba(#000, 0.5);

							strong {
								color: #fff;
								text-shadow: 2px 2px 3px rgba(#000, 1);
							}
						}
						.mx {
							position: absolute;
							top: 17px;
							right: 17px;

							span {
								width: 103px;
								height: 25px;
								display: block;

								&.m {
									background-position: 0 -75px;
								}
								&.b {
									background-position: 0 -100px;
								}
							}
						}
					}
					.info {
						background: #fff;
						padding: 17px;
						border: 1px solid #d9d9d9;
						@media (max-width: v.$brpointMobile1) {
							padding: 5px;
						}

						h3 {
							color: #333;
							font-size: 30px;
							font-weight: 700;
							margin-bottom: 20px;

							@media (max-width: v.$brpointMobile1) {
								text-align: center;
								margin: 5px 0 10px;

								strong {
									display: block;
									font-size: 19px;
									color: #222;
									font-weight: 300;
								}
							}

							span {
								width: 29px;
								height: 29px;
								display: inline-block;
								margin-top: 9px;
								vertical-align: -2px;

								@media (max-width: v.$brpointMobile1) {
									display: none;
								}

								&.all {
									background-position: -87px -125px;
								}
								&.a12 {
									background-position: 0px -125px;
								}
								&.a15 {
									background-position: -29px -125px;
								}
								&.a19 {
									background-position: -58px -125px;
								}
							}
						}
						.info_btn {
							overflow: hidden;
							a {
								float: left;
								width: 49%;
								text-align: center;
								background: #f2f2f2;
								font-size: 18px;
								padding: 15px 0;
								margin-right: 2%;
								box-sizing: border-box;

								&:last-child {
									margin-right: 0;
								}

								@media (max-width: v.$brpointMobile1) {
									width: 52%;
									margin-left: 24%;
									display: block;
									margin-right: 0;
									padding: 5px;
									border: 1px solid #dbdbdb;
									color: #777;
									background: transparent;
									font-size: 14px;

									&:last-child {
										display: none;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

//이벤트 영역
#event {
	.row {
		@media (max-width: v.$brpointTablet2) {
			padding: 24px;
		}
		@media (max-width: v.$brpointMobile1) {
			padding: 0 8px;
		}
	}
	.event {
		overflow: hidden;
		padding: 100px 0;

		@media (max-width: v.$brpointTablet2) {
			padding: 24px;
			background: #fff;
		}
		@media (max-width: v.$brpointMobile1) {
			padding: 16px;
		}
		h2 {
			font-size: 30px;
			margin-bottom: 20px;
			font-weight: 500;

			@media (max-width: v.$brpointTablet2) {
				font-size: 24px;
				font-weight: 700;
			}
			@media (max-width: v.$brpointMobile1) {
				font-size: 18px;
				margin-bottom: 10px;
			}
		}
		.event_left {
			float: left;
			width: 66%;
			margin-right: 2%;
			overflow: hidden;

			.event_box1,
			.event_box2 {
				float: left;
				width: 50%;
			}

			@media (max-width: v.$brpointTablet2) {
				width: 100%;
				margin-right: 0;
			}
		}
		.event_right {
			float: left;
			width: 32%;

			@media (max-width: v.$brpointTablet2) {
				display: none;
			}
		}

		img {
			display: block;
		}
	}
}

//오프닝
#opening {
	background: url(../img/bg01.jpg) no-repeat center top;
	background-size: cover;
	margin: 17px 0;

	@media (max-width: v.$brpointTablet2) {
		margin: 0;
	}
	@media (max-width: v.$brpointMobile1) {
		margin: 8px 0;
	}

	.opening {
		padding: 100px 0;
		text-align: center;
		color: #bb9b51;
		@media (max-width: v.$brpointTablet1) {
			padding: 50px 0;
		}
		@media (max-width: v.$brpointMobile1) {
			padding: 20px 0;
		}
		h2 {
			margin-bottom: 15px;
			@media (max-width: v.$brpointMobile1) {
				margin-bottom: 10px;
			}
			.grand {
				background-position: 0 -175px;
				display: inline-block;
				width: 330px;
				height: 50px;
				@media (max-width: v.$brpointMobile1) {
					background-size: 300px;
					background-position: 0 -105px;
					width: 197px;
					height: 24px;
				}
			}
		}
		.date {
			background-position: 0 -225px;
			display: inline-block;
			width: 260px;
			height: 45px;
			@media (max-width: v.$brpointMobile1) {
				display: none;
			}
		}
		.desc {
			font-size: 35px;
			font-weight: 300;
			padding-bottom: 20px;
			background: url(../img/bar.png) no-repeat bottom center;
			background-size: 100%;

			@media (max-width: v.$brpointTablet1) {
				font-size: 25px;
				background: none;
			}
			@media (max-width: v.$brpointMobile1) {
				font-size: 16px;
				font-weight: 400;
				padding-bottom: 0;
			}
		}
		.open_box {
			overflow: hidden;
			padding: 20px 3% 0 3%;

			@media (max-width: v.$brpointTablet1) {
				display: none;
			}

			div {
				float: left;
				width: 27.333%;
				margin: 4% 3% 0 3%;
				box-sizing: border-box;
				border: 1px solid #3e4b44;
				background: rgba(#000, 0.5);

				h3 {
					color: #fff;
					border: 1px solid #6423c4;
					font-size: 20px;
					padding: 10px 20px;
					display: inline-block;
					margin-top: -10px;
					background: #3b1a6b;
					font-weight: 300;
				}
				p {
					display: block;
					padding: 6% 0 10% 0;
					font-size: 23px;
					color: #fff;
					line-height: 160%;
					font-weight: 700;

					em {
						display: block;
						font-weight: bold;
					}
					strong {
						display: block;
						font-weight: bold;
					}
				}
			}
		}
	}
}

//new movie
#new {
	.new {
		padding: 100px 0;
		position: relative;

		> h2 {
			font-size: 30px;
			font-weight: 500;
			margin-bottom: 20px;
		}
		.new_left {
			margin-right: 423px;
			height: 500px;
			background: #ccc url(../img/new01.jpg) center center;
			background-size: cover;
			position: relative;

			.play {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 120px;
				height: 120px;
				transform: translate(-50%, -50%);

				.st0 {
					fill: #fff;
					opacity: 0.3;
				}
				.st1 {
					fill: #fff;
				}
			}
		}
		.new_right {
			position: absolute;
			right: 0;
			top: 165px;
			width: 400px;
			height: 500px;
			background: #f0f0f0;
			padding: 33px;
			box-sizing: border-box;

			.title {
				font-size: 28px;
			}
			.release {
				font-size: 12px;
			}
			.star_wrap {
				font-size: 16px;
				font-weight: bold;
				padding: 16px 0;

				.star1 {
					display: inline-block;
					width: 20px;
					height: 20px;
					background-position: -393px 0px;
				}
				.star2 {
					display: inline-block;
					width: 20px;
					height: 20px;
					background-position: -393px 0px;
				}
				.star3 {
					display: inline-block;
					width: 20px;
					height: 20px;
					background-position: -375px 0px;
				}
			}
		}
	}
}
